COMPUTER_USE_WINDOWS_HTTP_HOST="0.0.0.0"
COMPUTER_USE_WINDOWS_HTTP_PORT="7332"
COMPUTER_USE_WINDOWS_HTTP_AUTH="change.me"
COMPUTER_USE_WINDOWS_SSE_HOST="0.0.0.0"
COMPUTER_USE_WINDOWS_SSE_PORT="7333"
COMPUTER_USE_WINDOWS_SSE_AUTH="change.me"
COMPUTER_USE_WINDOWS_BLOCKED_APPS=""
COMPUTER_USE_WINDOWS_LOG_DIR=""
COMPUTER_USE_WINDOWS_FORCE_STOP_HOTKEY="Control+F12"
COMPUTER_USE_WINDOWS_DISABLE_FORCE_STOP_HOTKEY="false"
COMPUTER_USE_WINDOWS_SCREENSHOT_MAX_BYTES="5242880"
COMPUTER_USE_WINDOWS_SCREENSHOT_MAX_SIDE="2000"
COMPUTER_USE_WINDOWS_ACCESSIBILITY_MAX_NODES="160"
